<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <body>
      <h1><%= data.image %></h1>
      <p>전화번호 <%= data.phonenumber %></p>
      <p>주소 <%= data.address %></p>
      <p>이미지 <img src="/upload/<%= data.image %>" width="300" /></p>
      <p>요청사항 <%= data.comment %></p>
    </body>
  </head>
</html>
